.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 2em;

  border-bottom: 2px solid rgba(151, 151, 151, 30%);

  position: relative;
}

.nav-content {
  display: block;

  background-color: #070724;
  width: 100%;
  height: calc(100vh - 6em - 2px);

  position: absolute;
  left: 0px;
  top: calc(100% + 2px);
  .planet-list {
    display: flex;
    flex-direction: column;
    height: 90%;
    margin-top: 10%;
    .planet-list-item {
      display: flex;
      align-items: center;
      width: 80%;
      margin: auto;
      padding-bottom: 1.5em;
      border-bottom: 1px solid rgba(151, 151, 151, 30%);
      &:last-child {
        border-bottom: none;
      }
      .rounded-div {
        background-color: red;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        margin-right: 1em;
      }
      a {
        flex: 1;
        padding: 0.2em;
        text-transform: uppercase;
        font-weight: bold;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: baseline;
    padding: 0.5em 2em;
    .logo {
      padding: 1em;
      width: 100%;
    }
  }

  .nav-btn {
    display: none;
  }

  .nav-content {
    display: flex;
    position: relative;
    background-color: #070724;
    width: 100%;

    left: auto;
    top: auto;
    height: auto;
    .planet-list {
      height: auto;
      flex-direction: row;
      max-width: auto;
      margin: 0;
      margin-top: 1em;
      gap: 1em;
      .planet-list-item {
        border: none;
        div,
        img {
          display: none;
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    flex-wrap: nowrap;
    text-align: left;
  }
}
