<nav class="sub-nav">
  <ul class="sub-nav-list">
    <li class="sub-nav-item" routerLinkActive="active">
      <a
        tabindex="0"
        [routerLink]="['/planets', id.toString(), planetName, 'overview']"
        [ngClass]="planetName"
      >
        Overview
      </a>
    </li>
    <li class="sub-nav-item" routerLinkActive="active">
      <a
        tabindex="0"
        [routerLink]="['/planets', id.toString(), planetName, 'structure']"
        [ngClass]="planetName"
      >
        Structure
      </a>
    </li>
    <li class="sub-nav-item" routerLinkActive="active">
      <a
        tabindex="0"
        [routerLink]="['/planets', id.toString(), planetName, 'geology']"
        [ngClass]="planetName"
      >
        Surface
      </a>
    </li>
  </ul>
</nav>
