.grid-layout {
  display: grid;
}

// PLANET IMAGE SECTION
.planet-image-container {
  display: grid;
  place-items: center;
  margin-top: 4em;
}
.planet-image {
  max-width: 60%;
  margin: auto;
}

// PLANET DETAILS
.planet-details {
  margin-top: 5em;
  text-align: center;
  font-size: 11px;
}

.planet-title {
  font-size: 3em;
  font-weight: lighter;
}

.planet-content {
  width: 85%;
  line-height: 2em;
  margin: 1em auto;
  opacity: 0.8;
}

.source {
  opacity: 0.6;
  a {
    font-weight: bold;
    color: white;
  }
}

// PLANET FACTS
.planet-facts {
  margin: 2em auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 0.5em;
  width: 85%;
}

.fact-container {
  border: 2px solid rgba(151, 151, 151, 30%);
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .fact {
    text-transform: uppercase;
    font-size: 0.8em;
    opacity: 0.6;
  }
  .value {
    text-transform: uppercase;
    font-family: "Antonio", sans-serif;
    font-size: 1.6em;
  }
}
